<div class="container">
  <div class="row d-flex justify-content-center">
    <h1>投稿の編集</h1>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-6 d-flex justify-content-center">
      <%= form_with model: @post do |f| %>
        <h4>Title</h4>
          <%= f.text_field :title %>
        <h4>Body</h4>
          <%= f.text_area :body %>
        <h4>Choices</h4>
          <div id="cocoon_choices">
            <%= f.fields_for :choices do |t| %>
              <%= render "public/posts/choice_fields", f: t %>
            <% end %>

            <%= link_to_add_association "+", f, :choices,
              data: {
                association_insertion_node: '#cocoon_choices',
                association_insertion_method: 'before'
              } %>
          </div>
      <%= f.submit '更新' %>
      <% end %>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <% if @post.user == current_user %>
      <%= link_to"削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？",  class: 'btn btn-danger' %>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center">
    <%= link_to'Back', mypage_user_path, class: 'btn btn-info' %>
  </div>

</div>