<div class="container">
<h2>みんなの投稿</h2>
<table class ="table table-striped">
 <thead>
    <tr>
　　<th>投稿者</th><th>投稿タイトル</th><th colspan="1"></th><th>投票</th><th>コメント数</th><th colspan="1"></th>    </tr>
  </thead>
  <tbody>
   <% @posts.each do |post| %>
    <tr>
      <td><%= post.user.name %></td>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td>
        <% post.choices.each do |one_choice| %>
          <%= one_choice.choice %><br>
        <% end %>
      </td>
      <td><p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p></td>
      <td>
        <%= link_to'Vote', post_path(post.id), class: 'btn btn-outline-info' %>
        <% if user_signed_in? && current_user.id == post.user.id %>
          <%= link_to'Edit', edit_post_path(post.id), class: 'btn btn-outline-success' %>
        <% end %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>
</div>