<!DOCTYPE html>
<html>
  <head>
    <title>Lights</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ec5d8544df.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark text-white">
       <div class="d-flex justify-content-end mb-2">
          <%= render 'public/searches/form' %>
        </div>
       <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                <%= link_to 'マイページ', mypage_user_path(current_user.id), class: 'nav-link text-white' %>
                </li>
                  <li>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
                </li>
              <% else %>
                <li>
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
                </li>
                <li>
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    </main>
    <%= yield %>
  </body>
</html>
